.calc-panel {
    border-radius: 3px;
    border: 1px solid black;
    padding: 0.5rem;
    font-size: 4rem;
    font-family: monospace;
    max-width: 30rem;
}
.calc-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.calc-result {
    background-color: black;
    color: white;
    text-align: right;
    padding: 0 10px;
    font-size: 2.5rem;
}
.calc-output {
    background-color: black;
    color: white;
    text-align: right;
    padding: 0 10px;
}
.calc-button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.calc-num {
    background-color: #33d;
}
.calc-danger {
    background-color: #a33;
}
.calc-go {
    background-color: #3a3;
}
.calc-button-double-width {
    grid-column: span 2;
}
.calc-button-double-height {
    grid-row: span 2;
}
